@use "vars";

@mixin content {
  max-width: 90%;
  margin: 0 auto;
  width: 100%;
  @media screen and (min-width: 1024px) {
    max-width: vars.$max-content-width;
  }
}

@mixin inputReset {
  border: none;
  background: none;
  border: 1px solid vars.$input-border-color;
  border-radius: 6px;
  padding: 12px;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  &::placeholder {
    color: vars.$input-placeholder-color;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@mixin buttonReset {
  border: none;
  background: none;
  color: inherit;
  font-family: inherit;
  transition: background-color 133ms ease-in-out;
  border-radius: 6px;
  &:hover {
    cursor: pointer;
  }
}

@mixin card {
  background-color: vars.$card-bg-color;
  border-radius: 30px;
  box-shadow: 0 20px 67px -12px rgba(0, 0, 0, 0.13);
}
