$bg-color: #f4f5f6;
$text-color-dark: #000;
$text-color-light: #fff;
$primary-color: #1fa46c;

$max-content-width: 1280px;

$input-border-color: #999;
$input-placeholder-color: #999;

$card-bg-color: #fff;

$category-item-bg: #f4f5f6;

$table-headcell-color: #999;
