@use "../../../app/styles/vars";

.headerNav {
  display: flex;
  flex-direction: column;
  font-size: 12;
  text-align: center;
  @media screen and (min-width: 1024px) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    text-align: left;
  }
}

.headerNavLink {
  color: #000;
  display: block;
}

:global(.active) {
  color: vars.$primary-color;
  border-bottom: 1px solid vars.$primary-color;
}
