@use "../../../app/styles/mixins";

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.input {
  @include mixins.inputReset;
  &[type="date"] {
    position: relative;
    &::-webkit-calendar-picker-indicator {
      background: transparent;
      bottom: 0;
      color: transparent;
      cursor: pointer;
      height: auto;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: auto;
    }
  }
}

.label {
  font-weight: 600;
  font-size: 16px;
}
